---
import { useAPI } from "../../../lib/hooks/useAPI.astro";
import type { Locations } from "../../../types/entities";
import Layout from "../../layouts/Layout.astro";
import GMap from "../../components/GMap.astro";
const locations = (await useAPI("Locations.getByPriority", {})).data as Locations[];
---

<Layout title="Παραρτήματα">
	<div class="group/type w-full h-full grid font-didact" style={{ "grid-template-columns": "max-content 1fr" }}>
		<div id="btsContainer" class="shadow-top relative border-r-2 overflow-auto border-red-900">
			<i class="up opacity-0 absolute fa-solid fa-chevron-up drop-shadow-[0px_2px_1px_rgb(24,24,24,0.6)] text-red-900 text-xl text-center w-[100%] top-0 bg-red-200 bg-opacity-50 backdrop-blur-[2px] z-50"></i>
			<i class="down opacity-0 absolute fa-solid fa-chevron-down drop-shadow-[0px_-2px_1px_rgb(24,24,24,0.6)] text-red-900 text-xl text-center w-[100%] bottom-0 bg-red-200 bg-opacity-50 backdrop-blur-[2px] z-50"></i>
			<div class="w-max h-full grid auto-rows-max cursor-pointer overflow-auto">
			{
				locations.map((l, ind) => (
					<div
						data-show={ind === 0}
						data-name={l.name}
						class="group/btn w-max h-max py-4 place-self-center grid grid-cols-[1fr_max-content] bg-white transition-colors duration-500 ease-in-out hover:bg-red-900 border-b-2 border-red-900 data-[show]/btn:bg-red-900"
					
					>
						<button class="p-4 w-[20ch] text-2xl group-hover/btn:text-white group-data-[show]/btn:text-white transition-colors duration-500 ease-in-out drop-shadow-[-2px_1px_1px_rgba(15,15,15,0.15)]">
							{l.name}
						</button>
						<i class="mt-2 pr-6 fa-solid fa-chevron-right font-bold text-xl text-red-50 place-self-center opacity-0 drop-shadow-[-2px_1px_1px_rgba(15,15,15,0.15)]"></i>
					</div>
				))
			}
			</div>
		</div>
		<div id="locationsContainer" class="w-full h-full grid auto-rows-[max-content] grid-flow-row place-content-center overflow-auto">
			{
				locations.map((l, i) => {
					return (
						<div
							data-name={l.name}
							class="w-max grid-cols-[max-content_min-content] rounded-2xl shadow-md shadow-gray-400 border-solid border-2 border-red-900"
							class:list={[i === 0 ? "show" : ""]}
						>
							{l.image ? (
								<img
									src={"/locations/" + l.image}
									alt={"Φωτογραφία Παραρτήματος " + l.name}
									class="w-[400px] h-full object-cover rounded-l-[14px]"
								/>
							) : (
								<div />
							)}
							<div class="w-max grid auto-rows-max gap-y-6 p-12">
								<h1
									id="locationsHead"
									class="text-3xl text-center underline underline-offset-4 decoration-1 drop-shadow-[-1px_1px_1px_rgba(0,0,0,0.15)]"
								>
									{l.name}
								</h1>
								<p class="text-xl">
									<i class="fa-solid fa-map-location-dot px-2 place-self-center" />
									Διεύθυνση: {l.address + ", " + l.areacode + " - " + l.municipality}
								</p>
								<p class="text-xl">
									<i class="fa-solid fa-user px-2 place-self-center" />
									Υπεύθυνος: {l.manager}
								</p>
								<p class="text-xl">
									<i class="fa-regular fa-envelope px-2 place-self-center" />
									Επικοινωνία: {l.email ?? ""}•{l.telephones.replaceAll(",", "")}
								</p>
								{l.link ? 
									<a target="_blank" href={l.link} class="w-max rounded-lg text-xl border-red-900 border-solid border-2 p-2 transition-colors hover:bg-red-900 hover:text-white">
										<i class="fa-solid fa-link pr-2"></i> Σύνδεσμος
									</a>
									: <></>}
									<GMap link={l.map} />
							</div>
						</div>
					);
				})
			}
		</div>
	</div>
	<style is:inline>
		button:is(.selected) {
			background-color: rgb(153, 27, 27);
		}
		@keyframes fadeOut {
			0% {
				opacity: 1;
			}
			99% {
				opacity: 0.0001;
			}
			100% {
				opacity: 0.0001;
			}
		}
		.remove {
			opacity: 1;
			animation: fadeOut 0.4s ease-in-out forwards;
		}
		#locationsContainer:is(:not(.remove)),
		#btsContainer {
			opacity: 0.0001;
			animation: fadeIn 0.6s ease-in-out forwards;
		}
		#locationsContainer > div:is(:not(.show)) {
			display: none;
		}
		#locationsContainer > div {
			display: grid;
		}
		#btsContainer > div > div:hover i {
			animation: fadeInLeft 0.3s ease-in-out forwards;
		}
		#btsContainer > div {
			-ms-overflow-style: none;  /* Internet Explorer 10+ */
			scrollbar-width: none;  /* Firefox */
		}
		#btsContainer > div::-webkit-scrollbar { 
			display: none;  /* Safari and Chrome */
		}
		#btsContainer:is(.shadow-up) .up {
			opacity: 1;
		}
		#btsContainer:is(.shadow-down) .down {
			opacity: 1;
		}
		
	</style>
</Layout>

<script>
	import { useAPI } from "../../../lib/hooks/useAPI.astro";
	import type { Locations } from "../../../types/entities";

	// wrap all • characters in a span tag like this <span class="px-2 text-lg font-serif">•</span>
	document.querySelectorAll("#locationsContainer > div > div > p").forEach(p => {
		const text = p.innerHTML;
		p.innerHTML = text.replaceAll("•", '<span class="px-2 text-lg font-serif">•</span>');
	});
	(async function () {
		const locations = (await useAPI("Locations.get", {})).data as Locations[];
		locations.forEach(l => {
			const btn = document.querySelector(`#btsContainer div[data-name='${l.name}']`) as HTMLElement;
			btn.addEventListener("click", () => {
				const shown = document.querySelector("[data-show]") as HTMLElement | null;
				const location_name = shown?.dataset.name;
				if (shown === btn) return;
				if (location_name) {
					document.querySelector(`#locationsContainer div[data-name='${location_name}']`)?.classList.remove("show");
				}

				const container = document.querySelector("#locationsContainer") as HTMLElement;
				const heading = document.querySelector("#locationsHead") as HTMLElement;
				if (shown) {
					container.classList.add("remove");
					void container.offsetWidth;
					setTimeout(() => {
						shown.removeAttribute("data-show");

						container.classList.remove("remove");
						container.querySelector(`div[data-name='${l.name}']`)?.classList.add("show");

						heading.innerText = l.name;
						btn.setAttribute("data-show", "");
					}, 300);
				} else {
					heading.innerText = l.name;
					btn.setAttribute("data-show", "");
				}
			});
		});
		if(window.location.hash) {
			const hash = window.location.hash.replace("#", "");
			const location = decodeURI(hash);
			const btn = document.querySelector(`#btsContainer div[data-name='${location}'] button`) as HTMLElement;
			console.log(btn);
			btn.click();
		}
	})();
	const onElementMount = async (target: string, callback: () => any) => {
		while (!document.querySelector(target)) {
			console.log("waiting for element to mount: " + target);
			await new Promise(resolve => setTimeout(resolve, 100));
		}
		callback();
	};
	onElementMount("#btsContainer", () => {
		// Create an instersection observer that when the are more elements to be scrolled a shadow is added to the bottom of the container. Same case for the top.
		const observer = new IntersectionObserver((entries) => {
			entries.forEach(entry => {
				const container = document.querySelector("#btsContainer") as HTMLElement;
				console.log(entry);
				if (entry.target === container.querySelector("div:first-child")) {
					if (entry.intersectionRatio <= 0.4) {
						container.classList.add("shadow-up");
					} else {
						container.classList.remove("shadow-up");
					}
				} else {
					if (entry.intersectionRatio <= 0.4) {
						container.classList.add("shadow-down");
					} else {
						container.classList.remove("shadow-down");
					}
				}
			});
		}, {
			root: document.querySelector("#btsContainer") as HTMLElement,
			rootMargin: "0px",
			threshold: [0.1, 0.4, 0.5, 0.6, 0.9]
		});
		observer.observe(document.querySelector("#btsContainer > div > div:first-child") as HTMLElement);
		observer.observe(document.querySelector("#btsContainer > div > div:last-child") as HTMLElement);
	});
</script>
