---
import type { Instruments } from "@_types/entities";
import { API, useAPI } from "@hooks/useAPI.astro";
import Layout from "@layouts/Layout.astro";
import { teacherTitleByGender } from "@utilities/text";

const [byz_teachers_res, par_teachers_res, eur_teachers_res, teacher_locations_res, locations_res, teacher_instruments_res, instruments_res] = await Promise.all([
	useAPI(API.Teachers.getByPriorityClasses, {UrlArgs: {"class_type": "byz"}}),
	useAPI(API.Teachers.getByPriorityClasses, {UrlArgs: {"class_type": "par"}}),
	useAPI(API.Teachers.getByPriorityClasses, {UrlArgs: {"class_type": "eur"}}),
	useAPI(API.Teachers.getLocations),
	useAPI(API.Locations.get),
	useAPI(API.Teachers.getInstruments),
	useAPI(API.Instruments.get),
]);

let byz_teachers = byz_teachers_res.data || [],
	par_teachers = par_teachers_res.data || [],
	eur_teachers = eur_teachers_res.data || [],
	teacher_locations = teacher_locations_res.data || [],
	locations = locations_res.data || [],
	teacher_instruments = teacher_instruments_res.data || [],
	instruments = instruments_res.data || [];

const enum MusicType {
	Byzantine = "byz",
	Traditional = "par",
	European = "eur",
	None = ""
}
const teachers = [
	[byz_teachers, MusicType.Byzantine],
	[par_teachers, MusicType.Traditional],
	[eur_teachers, MusicType.European]
] as const;
const teacher_classes = teachers.map(([teachersArr, type], index) => {
	return teachersArr.map(teacher => {
			return {
				teacher_id: teacher.id,
				class_id: index
			};
		}).flat();
}).flat();


const music = [
	["Βυζαντινή Μουσική", MusicType.Byzantine],
	["Παραδοσιακή Μουσική", MusicType.Traditional],
	["Ευρωπαϊκή Μουσική", MusicType.European]
] as const;

const musicOnly = [
	["Βυζαντινής", MusicType.Byzantine],
	["Παραδοσιακής", MusicType.Traditional],
	["Ευρωπαϊκής", MusicType.European]
] as const;

const imgSrc = "kathigites/picture/";
const cvSrc = "kathigites/cv/";
---

<Layout title="Καθηγητές">
	<div id="teachersPage" class="group/type byz w-full grid grid-cols-[max-content_1fr] font-didact max-sm:grid-cols-[100%] max-sm:grid-rows-[max-content_1fr]">
		<div id="btsContainer" class="relative w-max h-full border-r-2 max-sm:border-none border-red-900 max-sm:w-full">
			{/* sticky with top being the height of the navbar */}
			<div id="stickyContainer" class="sticky top-[4.1vw] grid grid-rows-[repeat(3,max-content)] max-sm:grid-rows-1 max-sm:grid-cols-[repeat(3,_1fr)]">
				{
					music.map(([str, type], ind) => (
						<div id={type} data-show={ind === 0} data-type={type} class={
							"group/btn relative cursor-pointer w-full h-max py-[1vw] max-sm:pt-2 place-self-center red-300 grid grid-cols-[1fr_max-content] max-sm:grid-cols-[100%] max-sm:justify-items-center"
							+ " transition-colors duration-500 ease-in-out hover:bg-red-900 border-b-2 border-red-900 data-[show]/btn:bg-red-900"}>
							<button
								class="p-[0.8vw] text-[1.5vw] max-sm:text-base max-3xs:text-sm max-sm:w-[13ch] first-of-type:max-sm:w-[12ch] z-10 group-hover/btn:text-white group-data-[show]/btn:text-white transition-colors duration-500 ease-in-out drop-shadow-[-2px_1px_1px_rgba(15,15,15,0.15)]"
								data-type={type}
							>
								{str}
							</button>
							<i class="mt-[0.4vw] pr-2 fa-solid fa-chevron-right font-bold text-xl text-red-50 place-self-center z-10 opacity-0 drop-shadow-[-2px_1px_1px_rgba(15,15,15,0.15)] max-sm:hidden"></i>
						</div>
					))
				}
			</div>
		</div>
		<div id="teachersContainer" class="justify-evenly max-w-full h-min flex flex-wrap gap-x-[1.25%] p-[2vw] px-4 pr-0 gap-y-8 max-sm:px-2 max-sm:pt-6 max-sm:pb-12 max-sm:gap-y-6 overflow-auto max-sm:max-w-[calc(100%-0.5rem)]">
			<h1 class="group-[:is(:not(.byz))]/type:hidden text-5xl max-sm:text-3xl font-anaktoria font-bold text-red-900 w-full flex-grow pb-[1.5vw] text-center drop-shadow-[-1px_1px_1px_rgba(15,15,15,0.2)]">Καθηγητές Βυζαντινής Μουσικής</h1>
			<h1 class="group-[:is(:not(.par))]/type:hidden text-5xl max-sm:text-3xl font-anaktoria font-bold text-red-900 w-full flex-grow pb-[1.5vw] text-center drop-shadow-[-1px_1px_1px_rgba(15,15,15,0.2)]">Καθηγητές Παραδοσιακής Μουσικής</h1>
			<h1 class="group-[:is(:not(.eur))]/type:hidden text-5xl max-sm:text-3xl font-anaktoria font-bold text-red-900 w-full flex-grow pb-[1.5vw] text-center drop-shadow-[-1px_1px_1px_rgba(15,15,15,0.2)]">Καθηγητές Ευρωπαϊκής Μουσικής</h1>
			{
				teachers.map(([teachersByType, type]) => {
					return teachersByType.map(teacher => {
						const t_classes_str = teacher_classes.filter(c => c.teacher_id === teacher.id)?.map(c => musicOnly[c.class_id][0]);
						const t_locations = teacher_locations.filter(l => l.teacher_id === teacher.id)?.map(l => locations.find((loc) => loc.id === l.location_id)?.name || "");
						const t_instrument_list = teacher_instruments.filter(i => i.teacher_id === teacher.id)?.map(i => instruments.find((inst) => inst.id === i.instrument_id) as Instruments);
						const t_instruments = t_instrument_list.map(i => i.name);
						if (t_classes_str.includes("Βυζαντινής") && t_classes_str.includes("Παραδοσιακής")) t_instruments?.push("Βυζαντινή Μουσική");
						t_instruments?.sort();
						if (teacher.online) t_locations?.push("Διαδικτυακά Μαθήματα");
						return (
						<div class={"group/card sm:w-[48.5%] sm:max-w-[750px] max-sm:w-full hidden show rounded-2xl @7xl:rounded-2xl @4xl:rounded-lg max-sm:rounded-md shadow-md shadow-gray-500 border-solid border-2 max-sm:border border-red-900"
								+ (type === MusicType.Byzantine ? " group-[:is(.byz)]/type:block" : "")
								+ (type === MusicType.Traditional ? " group-[:is(.par)]/type:block" : "")
								+ (type === MusicType.European ? " group-[:is(.eur)]/type:block" : "")}>
							<div class="flex sm:h-full max-sm:min-w-full group-odd/card:flex-row-reverse group-odd/card:justify-between max-sm:justify-items-center">
								{teacher.picture ? (
									<img data-url={imgSrc + teacher.picture} width={240} alt={"Φωτογραφία Καθηγητή " + teacher.fullname}
									class={"w-[clamp(0px,100%,240px)] max-sm:aspect-[6_/_9] max-sm:w-[clamp(150px,25vw,250px)] object-cover" +
									" max-sm:group-even/card:rounded-tl-[6px] max-sm:group-odd/card:rounded-tr-[6px] max-sm:shadow-md max-sm:shadow-gray-400" +
									(((t_instruments && t_instruments.length > 0) || teacher.cv || teacher.linktree) ? " max-sm:group-even/card:rounded-br-[8px] max-sm:group-odd/card:rounded-bl-[8px]" : "") +
									" sm:group-even/card:rounded-l-[13px] sm:group-odd/card:rounded-r-[13px]"}/>
								) : (
									<div class="group-odd/card:w-[clamp(0px,100%,240px)]"/>
								)}
								<div class="flex flex-col gap-y-[0.5vw] p-[0.8vw] max-sm:gap-y-2 max-sm:w-full max-sm:py-3 max-sm:pb-1 max-sm:pl-3 min-w-0 max-sm:justify-around">
									<p class="text-[2vw] max-sm:max-w-[25ch] max-sm:text-lg max-2xs:text-base underline underline-offset-4 decoration-1 drop-shadow-[-1px_1px_1px_rgba(0,0,0,0.15)] min-w-0 [word-break:break-word]">{teacher.fullname}</p>
									<p class="text-[1.25vw] max-w-[35ch] max-sm:max-w-[30ch] max-[300px]:max-w-[25ch] max-sm:text-sm max-2xs:text-xs rounded-lg max-sm:rounded-md bg-red-900 text-white p-[0.4vw] max-sm:p-2 max-sm:mr-2 min-w-0 [word-break:break-word]">{t_locations.map((str, i) => {
											const dot = i === t_locations.length - 1 ? "" : "&";
											return(<>{str}&thinsp;{dot}&thinsp;</>)
									})}</p>
									<p class="text-[1.25vw] max-w-[35ch] max-sm:max-w-[30ch] max-sm:text-sm max-2xs:text-xs"><span class="underline decoration-1 decoration-slate-800 underline-offset-[3px] pr-2 max-sm:pr-1 min-w-0 [word-break:break-word]">{teacherTitleByGender(teacher.title, teacher.gender)+":"}</span><span>{t_classes_str.map((str, i) => {
											let len = t_classes_str.length;
											if (len === 1) return(<>{str}&thinsp;Μουσικής</>)
											else if(len === 2) {
												if (i === 0) return(<>{str}&thinsp;και&thinsp;</>)
												else return(<>{str}&thinsp;Μουσικής</>)
											} else {
												if (i === len - 1) return(<>{str}&thinsp;Μουσικής</>)
												else if (i === len - 2) return(<>{str}&thinsp;και&thinsp;</>)
												else return(<>{str},&thinsp;</>)
											}
									})}</span></p>
									{t_instruments && t_instruments.length > 0 ? (
										<p class="text-[1.25vw] max-sm:hidden max-w-[35ch] flex flex-row flex-wrap gap-y-2 min-w-0 [word-break:break-word]">
											<span class="underline decoration-1 decoration-slate-800 underline-offset-[3px] pr-2">Διδάσκει:</span>
											{t_instruments.map((instr, i) => {
												const dot = i === t_instruments.length - 1 ? "" : "•";
												return (
													<>{instr}&thinsp;{dot}&thinsp;</>
												)
											})}
										</p>
									) : (
										<></>
									)}
									<div class="flex flex-row flex-wrap max-sm:hidden gap-2">
										{teacher.cv ?
											<a target="_blank" href={cvSrc + teacher.cv} class="w-max rounded-lg text-[1.25vw] border-red-900 border-solid border-2 p-[0.6vw] transition-colors hover:bg-red-900 hover:text-white">
												<i class="fa-solid fa-file-lines pr-2"></i> Βιογραφικό
											</a>
											: <></>}
										{teacher.linktree ?
											<a target="_blank" href={teacher.linktree} class="w-max rounded-lg text-[1.25vw] border-red-900 border-solid border-2 p-[0.6vw] transition-colors hover:bg-red-900 hover:text-white">
												<i class={"pr-2"
												+ (teacher.linktree.includes("youtube") ? " fa-brands fa-youtube" : " fa-solid fa-link") }></i> {teacher.linktree.includes("youtube") ? "YouTube" : "Πολυμέσα"}
											</a>
											: <></>}
									</div>
								</div>
							</div>
							<div class={"hidden h-min max-sm:flex flex-col gap-y-2 w-full pb-3 pt-2 px-3 min-w-0" +
								(!(t_instruments && t_instruments.length > 0) && !teacher.cv && !teacher.linktree ? " !hidden" : "")
							}>
								{t_instruments && t_instruments.length > 0 ? (
										<p class="text-sm max-2xs:text-xs flex flex-row flex-wrap gap-y-1 max-w-[55ch] min-w-0 [word-break:break-word]">
											<span class="underline decoration-1 decoration-slate-800 underline-offset-[3px] pr-1 ">Διδάσκει:</span>
											{t_instruments.map((instr, i) => {
												const dot = i === t_instruments.length - 1 ? "" : "•";
												return (
													<>{instr}&thinsp;{dot}&thinsp;</>
												)
											})}
										</p>
									) : (
										<></>
									)}
								<div class={"flex mt-auto flex-row gap-x-2 pt-1 self-center"}>
									{teacher.cv ?
										<a target="_blank" href={cvSrc + teacher.cv} class="w-max rounded-md max-sm:text-sm max-2xs:text-xs border-red-900 border-solid border py-1 px-2 transition-colors hover:bg-red-900 hover:text-white">
											<i class="fa-solid fa-file-lines max-sm:text-2xs pr-1"></i> Βιογραφικό
										</a>
										: <></>}
									{teacher.linktree ?
										<a target="_blank" href={teacher.linktree} class="mt-auto w-max rounded-md max-sm:text-sm max-2xs:text-xs border-red-900 border-solid border py-1 px-2 transition-colors hover:bg-red-900 hover:text-white">
											<i class={"text-2xs pr-1"
											+ (teacher.linktree.includes("youtube") ? " fa-brands fa-youtube" : " fa-solid fa-link") }></i> {teacher.linktree.includes("youtube") ? "YouTube" : "Πολυμέσα"}
										</a>
										: <></>}
								</div>
							</div>
						</div>
						)
					})
				})
			}
		</div>
	</div>
	<style is:inline>
		button:is(.selected) {
			background-color: rgb(153, 27, 27);
		}
		.remove {
			opacity: 1;
			animation: fadeOut 0.3s ease-in-out forwards;
		}
		.show {
			opacity: 0.01;
			animation: fadeIn 0.6s ease-in-out forwards;
		}
		#teachersContainer:is(:not(.remove)), #btsContainer  {
			opacity: 0.0001;
			animation: fadeIn 0.6s ease-in-out forwards;
		}
		#btsContainer [data-type]:hover i {
			animation: fadeInLeft 0.3s ease-in-out forwards;
		}
	</style>
</Layout>
<script>
	import { UpdateHandler } from "@utilities/UpdateHandler";
	import { AnimTimeline, onElementMount } from "@utilities/dom";

	document.querySelectorAll("div > button[data-type]").forEach(btnChild => {
		const btn = btnChild.parentElement as HTMLElement;
		const type = btn.getAttribute("data-type") as "byz" | "par" | "eur";
		const teachersPage = document.querySelector("#teachersPage") as HTMLElement;
		btn.addEventListener("click", () => {
			const shown = document.querySelector("[data-show]") as HTMLElement;
			if (shown === btn) return;
			const atl = new AnimTimeline();
			const container = document.querySelector("#teachersContainer") as HTMLElement;

			atl.step(() => {
				container.classList.add("remove");
			}).step({
				time: 300,
				anim: () => {
					shown.removeAttribute("data-show");
					container.classList.remove("remove");
					btn.setAttribute("data-show", "");
					teachersPage.classList.remove("byz", "par", "eur");
					teachersPage.classList.add(type);
					document.querySelector("#teachersContainer")?.scrollTo({
						top: 0,
						behavior: "smooth"
					})
				}
			}).start();
		})
	});
	if(window.location.hash) {
		const hash = window.location.hash.replace("#", "");
		const type = decodeURI(hash);
		const music = {
			"Βυζαντινή Μουσική": "byz",
			"Παραδοσιακή Μουσική": "par",
			"Ευρωπαϊκή Μουσική": "eur"
		} as Record<string, string>;
		if (type in music) {
			const btn = document.querySelector(`#btsContainer #${music[type]} button`) as HTMLElement;
			setTimeout(() => {
				btn.click();
			}, 250);
		}
	}

	onElementMount("#teachersContainer", () => {
		const obsv = new IntersectionObserver((entries) => {
			entries.forEach(entry => {
				const parentEl = entry.target as HTMLElement;
				const isVisible = parentEl.classList.contains("show");
				if (entry.intersectionRatio <= 0.05 && isVisible) {
					parentEl.classList.remove("show");
					parentEl.classList.add("remove");
				} else if (entry.intersectionRatio >= 0.2 && !isVisible) {
					parentEl.classList.remove("remove");
					parentEl.classList.add("show");
				}
			})
		}, {
			threshold: [...(new Array(10).fill(0).map((x,i) => i / 100)), 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1.0],
		});
		const teachersCard = document.querySelectorAll("#teachersContainer > div");
		teachersCard.forEach((card) => {
			obsv.observe(card);
		})
	});
	function ImageLoad(img: HTMLImageElement) {
		const url = img.getAttribute("data-url") as string;
		img.setAttribute("src", url);
	}

	onElementMount("img[data-url]", () => {
		let teacherImages = [...document.querySelectorAll("img[data-url]")] as HTMLImageElement[];
		// immediatly load the first 4 images
		teacherImages.slice(0, 4).forEach(img => {
			ImageLoad(img);
		})
		teacherImages = teacherImages.slice(4);

		const obsv = new IntersectionObserver((entries) => {
			entries.forEach(entry => {
				const src = entry.target.getAttribute("src") as string;
				if (entry.intersectionRatio >= 0.001 && (src === null || src === "")) {
					ImageLoad(entry.target as HTMLImageElement);
				} else if(src) obsv.unobserve(entry.target);
			});
		}, {
			threshold: [0.001]
		});
		teacherImages.forEach((img) => obsv.observe(img));

		// Load all images after 2 seconds of network inactivity
		// and remove the observers
		let pobsv: PerformanceObserver;
		const networkCheckHandler = new UpdateHandler({timer:2000, func:() => {
			teacherImages.forEach((img) => {
				ImageLoad(img);
			});
			obsv.disconnect();
			pobsv.disconnect();
		}});
		pobsv = new PerformanceObserver((list) => {
			const entries = list.getEntries();
			if(entries.length) networkCheckHandler.reset();
		});
		pobsv.observe({entryTypes: ["resource"]});
		networkCheckHandler.trigger().catch(() => {});
	});
</script>
