---
import { API, useAPI } from "../../../lib/hooks/useAPI.astro";
import { type PageAnnouncement } from "../../../lib/routes/announcements.client";
import Layout from "../../layouts/Layout.astro";
export const prerender = false;

const announcements = (await useAPI(API.Announcements.getForPage)).data || [];

const imgSrc = (a: PageAnnouncement) => "/anakoinoseis/images/" + a.id + "/" + a.main_image;
const imgThumbSrc = (a: PageAnnouncement) =>
	"/anakoinoseis/images/" + a.id + "/thumb_" + a.main_image;
const formatDate = (d: number) => new Date(d).toLocaleDateString("el-GR");
---

<Layout title="Ανακοινώσεις">
	<div class="p-6 mb-6 flex flex-col gap-y-10 h-full">
		{
			announcements.map(a => {
				return (
					<div class="flex flex-row gap-x-4 h-[400px]">
						<div class="max-w-[400px] min-w-[200px] rounded-sm overflow-hidden">
							<img
								src={imgSrc(a)}
								alt={a.title}
								width="400"
								height="500"
								class="min-w-[200px] object-cover"
							/>
						</div>
						<div class="flex flex-col mb-4 w-[calc(100vw_-_500px)] min-w-[200px]">
							<h2 class="text-2xl font-bold">{a.title}</h2>
							<p class="text-gray-500">{formatDate(a.date)}</p>

							<!--// prettierignore -->
							<p class="max-h-[60%] overflow-hidden whitespace-break-spaces">{a.content}</p>
							<p>
								{a.views} {a.views > 1 ? "Προβολές" : "Προβολή"}
							</p>
							<a href={`/anakoinoseis/${a.title}`}>Περισσότερα</a>
						</div>
					</div>
				);
			})
		}
	</div>
</Layout>
